.wrapper-cards {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.card-component__image{
    padding: 5%;
    box-sizing: border-box;
    position: relative;
}
.card {
    top: 10px;
    width: 50%;
    height: 50%;
    position: relative;
    /*box-sizing: border-box;*/
}
/*div[class] {
    border: 1px solid gray;
}*/
.cards-component>div:nth-child(odd) {
    background-color: lightgray;
}
.cards-component>div:nth-child(even) {
    background-color: lightgoldenrodyellow;
}
.fas {
    color: red;
}
