.wrapper-cards {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}
div[class] {
    border: 1px solid gray;
}
.cards-component>div:nth-child(odd) {
    background-color: lightgray;
}
.cards-component>div:nth-child(even) {
    background-color: lightgoldenrodyellow;
}
.fas {
    color: red;
}
